@import "tailwindcss";

:root {
  --background: #f2f2f2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2; 
}

::-webkit-scrollbar-thumb {
  background: #FF74B1;
  border-radius: 10px;
}

@theme inline {
  --color-background: #f2f2f2;

  --color-primary: #FF74B1;
  --color-secondary: #464545;
  --color-black: #000000;
  --color-white: #FFFFFF;

  --font-sans: var(--font-poppins);;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
